<header class="level">
  <div class="level-left">  
    <img class="logo" src="assets/cubes.png">
    <h1>the space.</h1>
  </div>
</header>

<div class="place">
  <app-place-explorer></app-place-explorer>
  <app-toolbox></app-toolbox>
</div>

<div class="whitepaper card content">
  <h2>Micro White Paper</h2>
  <p>Here will be listed some core concepts:</p>
  <ul>
    <li>World size is limited to 64x64x64 forever.</li>
  </ul>
</div>

<footer class="footer">
    <!--
  <div>Icons made by
    <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
-->
</footer>
