<section *ngIf="noMetaMask" class="hero is-danger">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          MetaMask Extension not detected.
        </h1>
        <h2 class="subtitle">
          You need <a class="has-text-info" href="https://metamask.io">MetaMask</a> browser extension to run this decentralized application.
        </h2>
      </div>
    </div>
  </section>

<header class="level">
  <div class="level-left">  
    <img class="logo" src="assets/cubes.png">
    <h1 class="is-size-1">Ether Voxel Space </h1><h2 class="is-size-5">&nbsp;-&nbsp;Let's create a piece of 3d art togETHer. One voxel at a time.</h2>
  </div>
</header>

<div class="place">
  <app-place-explorer></app-place-explorer>
  <app-toolbox></app-toolbox>
</div>

<div class="whitepaper card content column is-two-fifths">
  <h2>Micro White Paper</h2>
  <ul>
    <li>World size is limited to 256x256x256 forever</li>
    <li>Every voxel has it's own x,y,z coordinates (0 to 255), color and owner properties</li>
    <li>There are 16 available colors (but new can be introduced, to maximum 256 colors/materials)</li>
    <li>Users can perform only 4 types of actions:
      <ol>
        <li>Place (create) a new voxel in chosen position and color</li>
        <li>Repaint existing owned voxel</li>
        <li>Destroyed owned voxel</li>
        <li>Transfer voxel's ownership to someone else</li>
      </ol>
    </li> 
    <li>The fee for every action is 0.0001 ETH (apart from transaction fees)</li>
    <li>Contract address: <a href="https://etherscan.io/address/">0x00</a></li>
    <li>Dapp source code: <a href="https://github.com/ethervoxelspace">github.com/ethervoxelspace</a></li>
    <li>Subreddit: <a href="https://reddit.com/r/ethervoxelspace">/r/EtherVoxelSpace</a></li>
  </ul>
</div>

<footer class="footer">
  <p>Copyright (c) 2018 <a href="https://github.com/ethervoxelspace">Ether Voxel Space</a></p>
  <p>Version 1.0.0</p>
  <div>
    <small>
        <p>Dapp developed in <a href="https://angular.io/">Angular</a> 
          with <a href="https://www.typescriptlang.org/">TypeScript</a> 
          and <a href="https://github.com/ethereum/web3.js/tree/1.0">Web3.js version 1.0.0</a></p>
        <p>3d rendering engine: <a href="https://threejs.org/">Three.js</a></p>
        <p>Contract written & deployed with <a href="https://remix.ethereum.org/">Remix</a> & <a href="https://metamask.io">MetaMask</a></p>
        Logo made by
        <a href="http://www.freepik.com" title="Freepik">Freepik</a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </small>
  </div>

</footer>
