header.level{
    padding: 15px;
    margin-bottom: 0;
    h1 {
        padding-left: 15px;
    }
}

.logo{
    height: 50px;
}

.place{
    display: flex;
    justify-content: space-around;
}

app-toolbox{
    width:30%;
}

.whitepaper {
    padding: 40px;
    margin: 40px auto;
}