<div class="toolbox card">
  <div class="tabs">
    <ul>
      <li [ngClass]="{ 'is-active' : placeMode }">
        <a (click)="setMode('placeMode')">Place</a>
      </li>
      <li [ngClass]="{ 'is-active' : repaintMode }">
        <a (click)="setMode('repaintMode')">Repaint</a>
      </li>
      <li [ngClass]="{ 'is-active' : destroyMode }">
        <a (click)="setMode('destroyMode')">Destroy</a>
      </li>
      <li [ngClass]="{ 'is-active' : transferMode }">
        <a (click)="setMode('transferMode')">Transfer</a>
      </li>
    </ul>
  </div>

  <p>Coordinates:</p>
  <div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">X</label>
      </div>
      <div class="field-body">
        <input #x type="number" class="input" />
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Y</label>
      </div>
      <div class="field-body">
        <input #y type="number" class="input" />
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Z</label>
      </div>
      <div class="field-body">
        <input #z type="number" class="input" />
      </div>
    </div>
  </div>

  <div *ngIf="placeMode || repaintMode">
    <p>Color:</p>
    <select [(ngModel)]="m" class="input color{{m}}">
      <option [value]="0" class="color0" selected>Black</option>
      <option [value]="1" class="color1">Dark-blue</option>
      <option [value]="2" class="color2">Dark-purple</option>
      <option [value]="3" class="color3">Dark-green</option>
      <option [value]="4" class="color4">Brown</option>
      <option [value]="5" class="color5">Dark-gray</option>
      <option [value]="6" class="color6">Light-gray</option>
      <option [value]="7" class="color7">White</option>
      <option [value]="8" class="color8">Red</option>
      <option [value]="9" class="color9">Orange</option>
      <option [value]="10" class="color10">Yellow</option>
      <option [value]="11" class="color11">Green</option>
      <option [value]="12" class="color12">Blue</option>
      <option [value]="13" class="color13">Indigo</option>
      <option [value]="14" class="color14">Pink</option>
      <option [value]="15" class="color15">Peach</option>
    </select>
  </div>

  <hr>

  <div *ngIf="placeMode">
      <button (click)="updateToolboxVoxel(x.value,y.value,z.value,m)" class="button">Preview</button>
    <button (click)="placeVoxel(x.value,y.value,z.value,m)" class="button">Place a new Voxel</button>
  </div>
  <div *ngIf="repaintMode">
    <button (click)="repaintVoxel(x.value,y.value,z.value,m)" class="button">Repaint your Voxel</button>
  </div>
  <div *ngIf="destroyMode">
    <button (click)="destroyVoxel(x.value,y.value,z.value)" class="button">Destroy your Voxel</button>
  </div>
  <div *ngIf="transferMode">
    <button (click)="transferVoxel(to.value,x.value,y.value,z.value)" class="button">Transfer your Voxel ownership</button>
    <br>to this address:
    <input #to type="text" class="input" />
    <br>
  </div>

  <div *ngIf="showSuccess" class="notification is-success">
      <button (click)="showSuccess = false" class="delete"></button>
      {{successMsg}}
    </div>

  <div *ngIf="showError" class="notification is-danger">
      <button (click)="showError = false" class="delete"></button>
      {{errorMsg}}
  </div>

</div>
